<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9 mt-3">
      <%= paginate @users %>
    </div>
    <% @users.each do |user| %>
      <div class="col-md-9 mb-4 py-3 border">
        <table class="table table-sm">
          <tbody>
          <tr>
            <th scope="row">名前：</th>
            <td><%= link_to(user.name, user) %></td>
          </tr>
          <tr>
            <th scope="row">Eメール：</th>
            <td><%= user.email %></td>
          </tr>
          </tbody>
        </table>
        <% if @current_user && user == @current_user %>
          <%= link_to("編集", edit_user_path(user), class: "btn btn-primary") %>
          <%= link_to("削除", user, method: :delete, class: "btn btn-danger") %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
